@page "/carte"
@page "/carte/{restaurantId}"
@using CestlheureduBK.Services

@inject GetDataService getDataService

<PageTitle>C'est l'heure du BK ! - La Carte</PageTitle>

<h1>La Carte</h1>

<Header Data=@headerData />

@if ((data?.Length ?? 0) > 0)
{
    <Catalogue Data="@data" />
}

@code {
    private CatalogueDisplay[]? data;
    private HeaderDisplay? headerData;

    [Parameter]
    public string? RestaurantId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        headerData = await getDataService.GetHeaderData(RestaurantId);

        if (headerData.Restaurant != null)
        {
            data = await getDataService.GetCatalogue(headerData.Restaurant.Id);
        }
    }
}
