@page "/carte"
@page "/carte/{restaurantId}"
@using CestlheureduBK.Services

@inject GetDataService getDataService
@inject HeaderService pageService;

<PageTitle>C'est l'heure du BK ! - La Carte</PageTitle>

<h1>La Carte</h1>

<Header Data=@headerData />

@if (data != null)
{
    <Catalogue Data="@data" />
}

@code {
    private CatalogueDisplay[]? data;
    private HeaderData? headerData;

    [Parameter]
    public string? RestaurantId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        headerData = await pageService.InitHeader(RestaurantId);

        if (headerData.Restaurant != null)
        {
            data = await getDataService.GetCatalogue(headerData.Restaurant.Id);
        }
    }
}
