@page "/mystere/{month}"
@page "/mystere/{month}/{restaurantId}"
@using CestlheureduBK.Services

@inject GetDataService getDataService

<PageTitle>C'est l'heure du BK ! - Burger Mystère</PageTitle>

<h1>Burger Mystère</h1>

<Header Data=@headerData />

@if (data != null)
{
    <Mystere Data="@data" Month="@Month" Months="@months" />
} 

@code {
    private IList<BurgerMystereListDisplay>? data;
    private HeaderDisplay? headerData;
    private IList<string>? months;

    [Parameter]
    public required string Month { get; set; }

    [Parameter]
    public string? RestaurantId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        headerData = await getDataService.GetHeaderData(RestaurantId);

        if (headerData.Restaurant != null)
        {
            months = await getDataService.GetBurgerMystereMonths();
            data = await getDataService.GetBurgerMystere(Month, headerData.Restaurant.Id);
        }
    }
}
