@page "/mystere/{month}"
@page "/mystere/{month}/{restaurantId}"
@using CestlheureduBK.Services

@inject GetDataService getDataService
@inject HeaderService headerService;

<PageTitle>C'est l'heure du BK ! - Burger Mystère</PageTitle>

<h1>Burger Mystère @Month</h1>

<Header Data=@headerData />

@if (data != null)
{
    <Mystere Data="@data" />
} 
else
{
    <p>Pas de Burger Mystère ce mois-ci 🥺</p>
}

@code {
    private BurgerMystereListDisplay[]? data;
    private HeaderData? headerData;

    [Parameter]
    public required string Month { get; set; }


    [Parameter]
    public string? RestaurantId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        headerData = await headerService.InitHeader(RestaurantId);

        if (headerData.Restaurant != null)
        {
            data = await getDataService.GetBurgerMystere(Month, headerData.Restaurant.Id);
        }
    }
}
