@page "/"
@page "/points"
@page "/points/{restaurantId}"
@using CestlheureduBK.Services

@inject GetDataService getDataService

<PageTitle>C'est l'heure du BK ! - Rentabilité des couronnes</PageTitle>

<h1>Rentabilité des couronnes</h1>

<Header Restaurant=@restaurant />

@if (data != null && restaurant?.CatalogueUpdate != null)
{
    <Points Data="@data" />
}

@code {
    private OfferDisplay[]? data;
    private RestaurantDisplay? restaurant;

    [Parameter]
    public string? RestaurantId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        restaurant = await getDataService.GetRestaurant(RestaurantId);
        if (restaurant != null)
        {
            data = await getDataService.GetOffers(restaurant.Id);
        }
    }
}
