@page "/snacks"
@page "/snacks/{restaurantId}"
@using CestlheureduBK.Services

@inject GetDataService getDataService

<PageTitle>C'est l'heure du BK ! - Rentabilité des snacks</PageTitle>

<h1>Rentabilité des snacks</h1>

<Header Data=@headerData />

@if ((data?.Length ?? 0) > 0)
{
    <Snacks Data="@data"  />
}

@code {
    private SnackDisplay[]? data;
    private HeaderDisplay? headerData;

    [Parameter]
    public string? RestaurantId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        headerData = await getDataService.GetHeaderData(RestaurantId);

        if (headerData.Restaurant != null)
        {
            data = await getDataService.GetSnacks(headerData.Restaurant.Id);
        }
    }
}
