@page "/snacks"
@page "/snacks/{restaurantId}"
@using CestlheureduBK.Services

@inject GetDataService getDataService
@inject HeaderService headerService;

<PageTitle>C'est l'heure du BK ! - Rentabilité des snacks</PageTitle>

<h1>Rentabilité des snacks</h1>

<Header Data=@headerData />

@if (data != null)
{
    <Snacks Data="@data"  />
}

@code {
    private SnackDisplay[]? data;
    private HeaderData? headerData;

    [Parameter]
    public string? RestaurantId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        headerData = await headerService.InitHeader(RestaurantId);

        if (headerData.Restaurant != null)
        {
            data = await getDataService.GetSnacks(headerData.Restaurant.Id);
        }
    }
}
