@font-face {
    font-family: 'Flame Regular';
    src: url('FlameRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Flame Sans';
    src: url('FlameSans.otf') format('opentype');
}

:root {
    --rz-primary: rgb(187, 30, 50);
    --rz-primary-light: rgba(187, 30, 50, 0.75);
    --rz-primary-lighter: rgba(187, 30, 50, 0.12);
    --rz-on-primary-lighter: rgb(187, 30, 50);
    --rz-secondary: rgb(187, 30, 50);
    --rz-secondary-light: rgba(187, 30, 50, 0.75);
    --rz-secondary-lighter: rgba(187, 30, 50, 0.12);
    --rz-on-secondary-lighter: rgb(187, 30, 50, 38);
    --rz-text-font-family: Flame Sans;
    --rz-body-line-height: 1.3;
    --rz-grid-cell-font-size: 1rem;
    --rz-grid-header-title-padding-inline: 1rem;
}

@media (max-width: 500px) {
    :root {
        --rz-scrollbar-size: 0;
        --rz-layout-body-padding: 1rem 0.5rem;
        --rz-grid-cell-padding: 0.625rem 0.5rem;
        --rz-grid-header-title-padding-inline: 0.5rem;
    }
}

.rz-header {
    --rz-text-font-family: Flame Regular;
}

    .rz-header .rz-panel-menu {
        display: flex;
        width: 100%;
        overflow: auto;
    }

    .rz-header .rz-navigation-item {
        flex-shrink: 0;
    }

    .rz-header .rz-panel-menu a:hover, .rz-header .rz-panel-menu a:focus {
        color: inherit;
    }

    .rz-header h5 {
        color: var(--rz-header-color);
        padding: 12px 18px;
        margin: 0;
    }

    .rz-header .rz-button-md.rz-button-icon-only {
        min-width: 2.25rem;
        border-radius: 50%;
        height: 2.25rem;
        margin-right: 12px;
    }

.rz-link .rzi {
    margin: 0 6px;
    font-size: 20px;
}

h1 {
    margin: 0;
}

.error {
    background: var(--rz-danger);
    color: var(--rz-on-danger);
    padding: 3px 6px;
}

.rz-panel-titlebar {
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 6px;
    font-size: 1.2rem;
}

    .rz-panel-titlebar .rzi, .rz-panel-titlebar span {
        cursor: pointer;
    }

    .rz-panel-titlebar button {
        margin: -6px 10px;
    }

.header {
    cursor: pointer;
    position: relative;
}

    .header i {
        position: absolute;
        left: -20px;
        top: 0;
        font-size: 18px;
    }

th:first-of-type .header i {
    position: relative;
    left: 2px;
    top: 4px;
}

.header:hover {
    color: var(--rz-primary);
    text-decoration: underline;
}

:root {
    --col-1: 100px;
    --col-2: 140px;
    --col-3: 150px;
    --col-4: 180px;
}

@media (max-width: 800px) {
    :root {
        --col-1: 50px;
        --col-2: 70px;
        --col-3: 75px;
        --col-4: 90px;
    }
}

@media (max-width: 500px) {
    .mystere {
        --col-1: 50px;
        --col-2: 60px;
        --col-3: 60px;
        --col-4: 40px;
    }
}


.col-1 {
    width: calc(var(--col-1) + var(--rz-grid-header-title-padding-inline));
}

.col-2 {
    width: calc(var(--col-2) + var(--rz-grid-header-title-padding-inline));
}

.col-3 {
    width: calc(var(--col-3) + var(--rz-grid-header-title-padding-inline));
}

.col-4 {
    width: calc(var(--col-4) + var(--rz-grid-header-title-padding-inline));
}

.rz-grid-table td, .rz-grid-table td .rz-cell-data {
    white-space: inherit;
}

th, .rz-column-title, .rz-column-title-content {
    overflow: visible !important;
}

.detail {
    font-style: italic;
    font-size: 0.7em;
}

.image {
    width: 130px;
}

@media (max-width: 750px) {
    .image {
        width: 100px;
    }
}

.rz-multiselect-header {
    display: inline-flex;
}

.rz-checkbox {
    margin: 0.75rem 0;
}

.distance {
    font-style: italic;
    font-size: 0.8em;
    margin-top: -12px;
}

.rz-dropdown-panel[style] {
    min-width: 350px !important;
    --rz-grid-cell-padding: 0.625rem 1rem;
    --rz-grid-header-title-padding-inline: 1rem;
}

.rz-grid-table .mystere-count {
    text-align: center;
    overflow: visible;
}

    .mystere-count > span {
        display: flex !important;
        flex-wrap: wrap;
        gap: 6px 12px;
        align-items: center;
        justify-content: center;
    }

.mystere-count .rz-fabmenu {
    position: relative;
    bottom: inherit;
    right: inherit;
}

        .mystere-count .rz-fabmenu > button {
            padding: 0.45rem;
            min-width: 1rem;
            min-height: 1rem;
        }

.rz-fabmenu-items {
    width: 200px;
}

a.energy {
    cursor: pointer;
    border-bottom: 1px dashed white;
}

    a.energy:hover {
        border-bottom-style: solid;
    }

    a.energy[data-loading] {
        opacity: 0.5;
    }

.rz-checkbox-list-horizontal .rz-stack {
    row-gap: 10px;
}